* {
  background-color: #0c100e;
  color: #436029;
  border-color: #436029;
  border-radius: 5px;
}

button {
  color: #89c559;
  color: #74965f;
  background-color: #0f1d18;
}
h2 {
  color: #e2e1ca;
}
h4{
  color:#89843B;
}
select {
  background-color: #0f1d18;
}
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
  background: #0f1d18;
}
::-webkit-scrollbar-thumb {
  background-color: #30451e;
  -webkit-border-radius: 1ex;
}

.f {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}
.m{
  margin-right: 10px;
}
.app {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: grid;
  justify-content: center;

  margin-left: 80px;
  grid-template-columns: repeat(3, 1fr);
}

.user-input {
  margin-bottom: 20px;
}

.user-input h2 {
  font-size: 1.5em;
}

.user-input label {
  display: block;
  margin: 10px 0;
}

.user-input select,
.user-input input {
  margin-left: 10px;
  background-color: #0f1d18;
  color: #89c559;
}

.user-input button {
  display: block;
  margin: 10px 0;
}

.performance-analysis {
  margin-top: 20px;
}

.performance-analysis h2 {
  font-size: 1.5em;
}

.address-list {
  max-height: 300px;
  overflow-y: scroll;
  border: 1px solid #436029;  
  padding: 10px;
  margin-top: 10px;
  scrollbar-color: #D3CA6B;
  scrollbar-arrow-color: #0c100e;
}

.address-item {
  padding: 5px;
}

.address-item.hit {
  background-color: D3CA6B;
  color: #768051;
}

.address-item.miss {
  /*background-color: #D3CA6B;*/
  color: #d3756b;
}
